In [2]:
import pandas as pd

In [8]:
wildland_df = pd.read_csv("master_wildland.csv", encoding = "ISO-8859-1", engine='python')
wildland_df.head()

,index,Lng,Lat,FireDiscoveryDateTime,FireCause,FireCauseGeneral,FireCauseSpecific,IncidentName
0,0,-104.457511,45.785037,2020/08/06 18:58:00+00,Human,Equipment,Farming Equipment,Ramme
1,1,-118.180712,33.808985,2020/02/28 20:45:40+00,Unknown,Unknown,Unknown,LAC-066100
2,2,-114.835414,48.073946,2017/10/17 20:20:24+00,Human,Unknown,Unknown,South Lost Prairie
3,3,-117.153901,33.176394,2019/07/01 19:54:00+00,Unknown,Unknown,Unknown,SYCAMORE
4,4,-121.104180,38.834727,2016/06/20 22:06:00+00,Unknown,Unknown,Unknown,RATTLESNAKE

In [9]:
wildland_df.columns

Index(['index', 'Lng', 'Lat', 'FireDiscoveryDateTime', 'FireCause',
       'FireCauseGeneral', 'FireCauseSpecific', 'IncidentName'],
      dtype='object')

In [16]:
tier1c_wildland = wildland_df[["Lng","Lat","FireDiscoveryDateTime","FireCause","FireCauseGeneral","FireCauseSpecific","IncidentName"]]
tier2c_wildland = tier1c_wildland.fillna('Unknown')

In [11]:
tier3c_wildland = tier2c_wildland.rename(columns={"ï»¿X": "Lng","Y": "Lat"})

NameError: name 'tier2c_wildland' is not defined

In [12]:
tier3c_wildland

NameError: name 'tier3c_wildland' is not defined

In [13]:
tier3c_wildland.to_csv(r'master_wildland.csv')

NameError: name 'tier3c_wildland' is not defined

In [14]:
tier3c_wildland

NameError: name 'tier3c_wildland' is not defined