In [2]:
import pandas as pd

In [3]:
wildland_df = pd.read_csv("master_wildland.csv", encoding = "ISO-8859-1", engine='python')
wildland_df.head()

,Unnamed: 0,Lng,Lat,FireDiscoveryDateTime,FireCause,FireCauseGeneral,FireCauseSpecific,IncidentName
0,0,-104.457511,45.785037,2020/08/06 18:58:00+00,Human,Equipment,Farming Equipment,Ramme
1,1,-118.180712,33.808985,2020/02/28 20:45:40+00,Unknown,Unknown,Unknown,LAC-066100
2,2,-114.835414,48.073946,2017/10/17 20:20:24+00,Human,Unknown,Unknown,South Lost Prairie
3,3,-117.153901,33.176394,2019/07/01 19:54:00+00,Unknown,Unknown,Unknown,SYCAMORE
4,4,-121.104180,38.834727,2016/06/20 22:06:00+00,Unknown,Unknown,Unknown,RATTLESNAKE

In [4]:
wildland_df.columns

Index(['Unnamed: 0', 'Lng', 'Lat', 'FireDiscoveryDateTime', 'FireCause',
       'FireCauseGeneral', 'FireCauseSpecific', 'IncidentName'],
      dtype='object')

In [5]:
tier1c_wildland = wildland_df[["Lng","Lat","FireDiscoveryDateTime","FireCause","FireCauseGeneral","FireCauseSpecific","IncidentName"]]
tier2c_wildland = tier1c_wildland.fillna('Unknown')

In [6]:
tier3c_wildland = tier2c_wildland.rename(columns={"ï»¿X": "Lng","Y": "Lat"})

In [7]:
tier3c_wildland

,Lng,Lat,FireDiscoveryDateTime,FireCause,FireCauseGeneral,FireCauseSpecific,IncidentName
0,-104.457511,45.785037,2020/08/06 18:58:00+00,Human,Equipment,Farming Equipment,Ramme
1,-118.180712,33.808985,2020/02/28 20:45:40+00,Unknown,Unknown,Unknown,LAC-066100
2,-114.835414,48.073946,2017/10/17 20:20:24+00,Human,Unknown,Unknown,South Lost Prairie
3,-117.153901,33.176394,2019/07/01 19:54:00+00,Unknown,Unknown,Unknown,SYCAMORE
4,-121.104180,38.834727,2016/06/20 22:06:00+00,Unknown,Unknown,Unknown,RATTLESNAKE
...,...,...,...,...,...,...,...
176293,-105.668901,48.118063,2021/04/26 11:00:00+00,Human,Unknown,Unknown,Cow Patty
176294,-106.091399,40.040840,2021/04/26 21:57:00+00,Unknown,Unknown,Unknown,Blue Ridge RX
176295,-120.644915,47.603806,2021/04/26 21:09:46+00,Unknown,Unknown,Unknown,NORTH
176296,-122.408603,40.477959,2021/04/26 22:32:08+00,Unknown,Unknown,Unknown,HAWTHORNE
176297,-121.111615,38.919186,2021/04/26 22:33:18+00,Unknown,Unknown,Unknown,VERNON

In [8]:
tier3c_wildland.to_csv(r'master_wildland.csv')

In [14]:
firecoord = wildland_df[["Lng","Lat"]]

In [23]:
firecoord = firecoord[["Lat", "Lng"]]
firecoord

              Lat         Lng
0       45.785037 -104.457511
1       33.808985 -118.180712
2       48.073946 -114.835414
3       33.176394 -117.153901
4       38.834727 -121.104180
...           ...         ...
176293  48.118063 -105.668901
176294  40.040840 -106.091399
176295  47.603806 -120.644915
176296  40.477959 -122.408603
176297  38.919186 -121.111615

[176298 rows x 2 columns]

In [24]:
firecoord.to_csv(r'firecoord.csv')